body {
  font-family: 'Roboto', sans-serif;
}
.chartdiv {
  width:850px;
  height:500px;
  padding-top:20px;
}
#periodSelector {
  position:fixed;
  width:170px;
  height:400px;
  bottom:50px;
  right:10px;
}
#livestream {
  width: 640px;
  height: 480px;
}
.livestream-spinner {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.livestream-spinner > svg {
  width: 50px;
  height: 50px;
}
#livestream-label {
  position:absolute;
  right:20px;
  opacity:0;
}
