body {
  font-family: 'Roboto', sans-serif;
}
.chartdiv {
  height: 260px;
  margin-top: 120px;
  overflow: visible !important;
}
.amcharts-chart-div {
  overflow: visible !important;
}
.chartdiv svg {
  overflow: visible;
}
.streamLoadSpinner svg {
  width: 50px;
  height: 50px;
}
