body {
  font-family: 'Roboto', sans-serif;
}
.chartdiv {
  height: 250px;
  margin-top: 150px;
}
.chartdiv svg {
  overflow: visible;
  /*margin-top: 50px;*/
}
.streamLoadSpinner svg {
  width: 50px;
  height: 50px;
}